<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Furever Pal</title>
</head>
<body>
    
    <h1>My Furever Pal</h1>
    <div>
        
       

        <% animals.forEach(function(animal, index) { %>
            <p> 
            

                <%= animal.name %> 
                <%= animal.id %> 
                <%= animal.type %> 
                <%= animal.age %> 
                <%= animal.gender %> 
                <%= animal.description %> 
                <%= animal.url %>
                
                <% if (animal.primary_photo_cropped !== null) { %>
                    <img src="<%= animal.primary_photo_cropped.small %>" alt="Pet Photo">
                <% } %> 
            </p>
        
        <% }) %>

            
        
    
    </div>  
    <script>
        const animals = '<%- JSON.stringify(animals) %>'
            
    </script>

</body>
</html>